:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --main-white-color: #fff;
  --accent-color: #2196F3;
  --background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
  --logo-color: #AFB1B8;
}

body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header-page {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav__logo {
  color: var(--title-text-color);
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
}
.menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  min-width: 200px;
  padding: 10px 32px;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.features__list {
  display: flex;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.skill.section {
  padding-top: 0;
}

.skill__list {
  display: flex;
}

.skill__item + .skill__item {
  margin-left: 30px;
}

.skill__thumb {
  position: relative;
}

.skill__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.skill__description {
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-white-color);
}

.team .container {
  margin-bottom: 0;
}

.team {
  background-color: var(--secondary-background-color);
}

.teammate {
  display: flex;
}

.teammate__item {
  margin-left: 30px;
  background-color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.teammate__item:first-child {
  margin-left: 0;
}

.teammate__card {
  margin-bottom: 0;
}

.teammate__item .container {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.teammate__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teammate__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teammate-soc {
  display: flex;
  justify-content: center;
}

.teammate-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.teammate-soc__item:last-child {
  margin-right: 0;
}

.teammate-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-soc__link:hover, .teammate-soc__link:focus {
  background-color: var(--accent-color);
}

.teammate-soc__link .teammate-soc__icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-soc__link:hover .teammate-soc__icon, .teammate-soc__link:focus .teammate-soc__icon {
  fill: var(--main-white-color);
}

.partners__list {
  display: flex;
}

.partners__item {
  display: block;
  margin-right: 30px;
}
.partners__item:last-child {
  margin-right: 0;
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
}

.partners__icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:hover .partners__icon, .partners__link:focus .partners__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  padding: 60px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo.bottom {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.logo-bottom {
  color: var(--main-white-color);
}

.address {
  font-style: normal;
}

.address__text {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--main-white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.soc {
  margin-left: 70px;
}

.soc__list {
  display: flex;
}

.soc__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.soc__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.soc__item:last-child {
  margin-right: 0;
}

.soc__icon {
  fill: var(--main-white-color);
  margin: 0;
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.connect {
  margin-left: auto;
}

.connect__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.connect__form {
  display: flex;
}

.connect__input {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--main-white-color);
}
.connect__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.connect__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__btn:hover, .connect__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.connect__icon {
  margin-left: 10px;
  fill: var(--main-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-white-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-icon, .close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-field {
  width: 100%;
  margin-bottom: 10px;
}

.modal-field.comment {
  margin-bottom: 20px;
}

.checkbox-field {
  margin-bottom: 30px;
}

.modal-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  outline: transparent;
}
.modal-comment:focus {
  border-color: var(--accent-color);
}
.modal-comment::placeholder {
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 32px;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-border {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 9px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text:hover .check-border, .check-text:focus .check-border {
  border-color: var(--accent-color);
}
.privacy-check:checked + .check-text .check-border {
  background-color: #2196F3;
  border: none;
}
.privacy-check:focus + .check-text .check-border {
  border-color: var(--accent-color);
}

.check-icon {
  fill: transparent;
}
.privacy-check:checked + .check-text .check-icon {
  fill: var(--main-white-color);
}

.check-link {
  color: var(--accent-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  display: block;
  min-width: 73px;
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter__btn--current {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__item .container {
  max-width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  transform: translateY(0);
}

.project__description {
  margin: 0;
  padding: 63px 24px;
  color: var(--main-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project__link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--primary-text-color);
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */