
:root{
--primary-text-color: #757575; 
--title-text-color: #212121;
--main-white-color: #fff;
--accent-color: #2196F3;
--background-color: #2F303A;
--secondary-background-color: #F5F4FA;
--logo-color: #AFB1B8;
}

body{
    background-color: var(--main-white-color);
    color: var(--primary-text-color); 
    font-family: Roboto, sans-serif; 
    font-size: 14px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link{
    text-decoration: none;
}

.btn{
    cursor: pointer;
    display: inline-block;
    
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 }

 img{
    display: block;
    max-width: 100%;
    height: auto;
 }

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }


/* Header */
.header-page{
     border-bottom: 1px solid #ECECEC;   
     
}

.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    display: flex;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
}

.logo-top{
        color: var(--title-text-color);
}

.navigation{
    display: flex;
}
.navigation-list {
    display: flex;
    margin-left: 93px;
}

.navigation-list .item:not(:last-child){
    margin-right: 50px;
}


.navigation-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
    color: var(--accent-color);
}

.navigation-list .link.current{
    position: relative;
    color: var(--accent-color);
}

.navigation-list .link.current::after{
 content: '';
 display: block;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: var(--accent-color);
 }



.contacts-list{
    display: flex;
    margin-left: auto;
}

.contact-item:not(:last-child){
margin-right: 50px;
}


.contacts-list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--accent-color);
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* HERO */

.hero{
    background-color: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image:
    linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--main-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}
.hero-btn {
    min-width: 200px;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    background-color:var(--accent-color);
    color: var(--main-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;  
    text-align: center;
    letter-spacing: 0.06em;
   }

.section{
    padding-top: 94px;
    padding-bottom: 94px;
   }   

   
   .features-list {
    display:flex;    
    }

.features-thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    }


.features-item{
    width: 270px;
    margin-right: 30px;
}

.features-item:last-child{
    margin-right: 0;
}

.features-name {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}




/* ....SKILLS.... */

.skills.section{
    padding-top: 0;
}

.skill-list {
    display: flex;
}

.skill-item + .skill-item{
    margin-left: 30px;
}

.skill-img{
    display: block;
}

.skill-thumb{
    position: relative;
}

.skill-overlay{  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.skill-description{
    margin: 0;      
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-white-color);
}


.team .container{
    margin-bottom: 0;
}
.team {
    background-color: var(--secondary-background-color);
}


.team-list{
    display: flex;
    
}

.team-item{
    margin-left: 30px;
    background-color: var(--main-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-item:first-child{
    margin-left: 0;
}


.team-card{
    margin-bottom: 0;
}

.team-item .container{
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team-name{
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-soc-list{
    display: flex;
    justify-content: center;
}


.team-soc-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.team-soc-item:last-child{
    margin-right: 0;
}

.team-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--accent-color);
}

.team-soc-link:hover .soc-icon,
.team-soc-link:focus .soc-icon{
    fill: var(--main-white-color);
}


.team-soc-link .soc-icon{
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover .soc-icon,
.team-soc-link:focus .soc-icon {
    fill: var(--main-white-color);
}

.partners-list{
    display: flex;
}



.partners-item{
    display: block;
    margin-right: 30px;
}

.partners-item:last-child{
    margin-right: 0;
}

.partners-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 170px;
    height: 92px;
    border: 1px solid var(--logo-color);
    border-radius: 4px;
    
}


.partners-icon{
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:hover .partners-icon,
.partners-link:focus .partners-icon {
    fill: var(--accent-color);
}

/* Footer */

.footer {
    background-color: var(--background-color);
    padding: 60px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}  


.footer .container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.logo.bottom{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.logo-bottom {
    color: var(--main-white-color)
}

.address {
    font-style: normal;
}

.address-text {
    margin-top: 0;
    margin-bottom: 9px;
    color: var(--main-white-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address .link{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.social{
    margin-left: 70px;
}

.soc-list{
    display: flex;
}

.social-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-color);
}

.soc-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.soc-item:last-child{
    margin-right: 0;
}

.soc-list .soc-icon{
    fill: var(--main-white-color);
    margin: 0;
}

.soc-list .soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: var(--accent-color);
}

.connect{
    margin-left: 93px;
}

.connect-title{
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-color);
}

.connect-thumb{
    display: flex;  
}

.connect-input{
    display: block;
    width: 358px;
    height: 50px;
    
    margin-right: 12px;
    
    
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.connect-input::placeholder{
    font-size: 16px;
    line-height: 1.25;   
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.connect-btn{
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--main-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-btn:hover,
.connect-btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-icon{
    margin-left: 10px;
    fill: var(--main-white-color);
}





/* PORTFOLIO */
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.filter-item:not(:last-child){
    margin-right: 8px;
}
.filter-btn{
  display: block;  
  min-width: 73px;
  
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.current-btn{
    background-color: var(--accent-color);
    color: var(--main-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    color: var(--main-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    
}

.project-item{
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item:nth-child(3n){
    margin-right: 0;
}

.project-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.project-item .container{
    max-width: 370px;
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

}

.project-thumb{
    position: relative;
    overflow: hidden;
 }

.project-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);
}

.project-description{
    margin: 0;
    padding: 63px 24px;
    color: var(--main-white-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.project-link{
    display: block;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        
}   
    
.project-title{
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text{
    color: var(--primary-text-color);
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
}

/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
      
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    padding: 40px;

    background-color: var(--main-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: var(--main-white-color);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon {
    fill: var(--accent-color);
}

.modal-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-field{
    width: 100%;
    margin-bottom: 10px;
    
}

.modal-field:last-child{
    margin-bottom: 20px;
}

.checkbox-field{
    margin-bottom: 30px;
}


.modal-lable{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;    
    letter-spacing: 0.01em;
}

.input-wrap{
    position: relative;
    
}
.modal-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
       
}

.modal-input{
    display: block;
    width: 100%;
    height: 40px;    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon{
    fill: var(--accent-color);
}

.modal-comment{
    display: block;
    width: 100%;
    height: 138px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 12px 16px;
    margin-bottom: 20px;
    outline: transparent;
    
}

.modal-comment:focus{
    border-color: var(--accent-color);
}

.modal-comment::placeholder{
    line-height: 1.16;
    color: rgba(117, 117, 117, 0.5);
}



.modal-submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    padding: 10px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--main-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }


.check-text {
    display: flex;
    align-items: center; 
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.check-border {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 9px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
    fill: transparent;
}

.check-link {
    color: var(--accent-color);
}

.check-text:hover .check-border,
.check-text:focus .check-border{
    border-color: var(--accent-color);
}



.privacy-check:checked + .check-text .check-border {
    background-color: #2196F3;
    border: none;
}

.privacy-check:checked + .check-text .check-icon {
    fill: var(--main-white-color);
}