.partners__list {
    display: flex;
}


.partners__item {
    display: block;
    margin-right: 30px;
    &:last-child {
            margin-right: 0;
        }
}



.partners__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid var(--logo-color);
    border-radius: 4px;

}


.partners__icon {
    fill: var(--logo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .partners__link:hover &,
        .partners__link:focus & {
            fill: var(--accent-color);
        }
}

