.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;

}

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }